@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
}
body{
    justify-items: center;
    background-color: rgb(228, 241, 252);
}
.contenedor{
    width: 1000px;
    height: auto;
    position: relative;
    margin-bottom: 200px;
    display: block;
}
.contenido{
    display: inline-block;
}
h1{
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 42px;
}
#navegador{
    position: absolute;
    top: 0;
    left: 50%;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    color: gray;
}
#persona{
    width: 400px;
    height: auto;
    position: absolute;
    top: -50px;
    left: 600px;
}
main + .contenido{
    margin-top: 200px;
}
h2{
    font-size: 40px;
    width: 400px;
    margin: 0%;
}
p{
    margin-top: 20px;
    padding-bottom: 20px;
}
.contenido > p{
    font-size: 16px;
    color: gray;
    width: 500px;
    margin: 0px;
    padding-top: 0;
}
#logo{
    width: 40px;
}
button{
    background-color: rgb(63, 190, 249);
    border-radius: 10px;
    border: 0;
    padding: 10px;
    color: white;
    cursor: pointer;
}